<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="apikey" value ="enter a riot api key"/>
    <add key ="path" value ="enter a path for files to be saved"/>
  </appSettings>
</configuration>